p{
    font-family: sans-serif;
    font-size: 8px;
    color: blue;
    background-color: grey;
}

h1{
    color: black;
    font-size: 14px;
    font-weight: bold;
}

h3{
    color: black;
    font-size: 14px;
    font-style: italic;
}